parameters:
	level: 5
	paths:
		- includes
	excludePaths:
		- includes/tools/class-settings-old.php
		- includes/integrations/class-editors.php
		- includes/integrations/class-acf.php
		- includes/integrations/class-wpml.php
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- phpstan-stubs.php
	reportUnmatchedIgnoredErrors: false
